<h3 mat-dialog-title><b> Neuen Standort hinzufügen </b></h3>
<div mat-dialog-content>
    <p><b> Adresse suchen </b></p>

    <mat-form-field appearance="fill">
        <mat-label>Suchen</mat-label>
        <input matInput type="text" (keyup)="getAddress($event.target.value)" [matAutocomplete]="auto" [(ngModel)]="location.results" required />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let address of addresses" [value]="address">
                {{ address.formatted_address }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Name für gewählten Standort vergeben</mat-label>
        <input type="text" [(ngModel)]="location.location" matInput />
    </mat-form-field>
</div>

<div mat-dialog-actions class="buttons central">
    <button class="btn-light" mat-raised-button (click)="dialogRef.close()">
    Abbrechen <img src="../../assets/img/cross.svg " />
  </button>
    <button class="btn-blue" [disabled]="location.results.length == 0" mat-raised-button cdkFocusInitial (click)="saveLocation()">
    Speichern <img src="../../assets/img/checkmark.svg " />
  </button>
</div>