<div class="bg-blue central">
    <mat-card>
        <mat-card-header>
            <img src="../../assets/img/arrow.svg" />
            <mat-card-title> Mein Standort</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-card-subtitle>Meine Standorte</mat-card-subtitle>

            <article>
                <div *ngFor="let location of allLocations">
                    <h4>{{ location.location }}</h4>
                    <p>
                        {{ location["results"]["address_components"]["1"]["short_name"] }} {{ location["results"]["address_components"]["0"]["short_name"] }} , {{ location["results"]["address_components"]["6"]["short_name"] }} {{ location["results"]["address_components"]["2"]["long_name"]
                        }}
                    </p>
                    <i>{{ location["results"]["address_components"]["4"]["long_name"] }},
            {{ location["results"]["address_components"]["5"]["long_name"] }}</i
          >
        </div>
      </article>
    </mat-card-content>

    <mat-card-actions class="central">
      <button class="central btn-blue" mat-raised-button (click)="openDialog()">
        Neuen Standort hinzufügen <img src="../../assets/img/plus.svg" />
      </button>
    </mat-card-actions>
  </mat-card>
</div>