<div class="bg-blue central">
    <mat-card>
        <mat-card-header>
            <img src="assets/img/arrow.svg" />
            <mat-card-title> Mein Standort</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-card-title> Meine Standorte </mat-card-title>

            <article>
                <div *ngFor="let location of allLocations" (click)="editLocation(location.customIdName)">
                    <h4> <b> {{ location.location }}  </b> </h4>
                    <p *ngIf="location['results'].address_components">
                        {{ location.results.formatted_address }}
                    </p>
                </div>
            </article>
        </mat-card-content>

        <mat-card-actions class="central">
            <button class="central btn-blue" mat-raised-button (click)="openAddLocationDialog()">
        Neuen Standort hinzufügen <img src="assets/img/plus.svg" />
      </button>
        </mat-card-actions>
    </mat-card>
</div>