/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Quicksand", sans-serif !important;
}

.bg-blue {
    background-color: #0f1223;
    width: 100%;
    height: 100%;
}

.central {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-blue {
    background-color: #33a9bf;
    color: white;
}

.btn-light {
    color: #33a9bf;
    background-color: #c3f6ff;
    // opacity: 0.25;
}

mat-card {
    font-family: "Quicksand", sans-serif !important;
    padding: 0 !important;
}

h4 {
    font-family: "Inter", sans-serif !important;
}