h3 {
    text-align: center;
    font-size: 16px;
}

mat-form-field {
    width: 100%;
}

.buttons {
    button {
        width: 150px;
        font-size: 1rem;
        height: 2.5rem;
        border-radius: 30px;
        border: none;
        margin-bottom: 1rem;
        &:focus {
            display: none;
        }
        img {
            padding-left: 1rem;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

.selected {
    display: flex;
    padding-bottom: 1rem;
    .selected-location {
        position: relative;
        border: 0.05px solid lightgrey;
        padding-left: 0.5rem;
        width: 60%;
        margin-right: 70px;
        p {
            font-size: 1rem !important;
            margin: 2px 0 1px !important;
            font-weight: 500 !important;
        }
        i {
            font-size: 12px;
            color: darkgray;
            line-height: 0;
        }
    }
    .change-location {
        p {
            font-size: 1rem;
            color: #33A9BF;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.toSelect {
    border-bottom: 0.1px solid gray;
    margin-bottom: 4px;
    &:hover {
        cursor: pointer;
    }
}

@media (max-width: 700px) {
    .mat-dialog-content {
        margin: 0 !important;
    }
}